.hamburger {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.hamburger.is-active {
  transform: rotate(180deg);
}

.svgIcon-container{
  .nav-icon {
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    position: relative;
  }
}
